doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1")
    link(rel="stylesheet", href="main.scss")
    title Test 1
  body
    .container
      canvas.first-canvas(width="600", height="600")
      canvas.second-canvas(width="600", height="50")
    script(src="./main.js")